.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.result-label {
  margin: 0;
  margin-bottom: 5px;
}

.result-value {
  margin: 0;
  font-weight: bold;
}
.example-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5vw;
}

.example-grid_header-cell {
  font-weight: bolder;
  font-size: 14px;
  border-bottom: 2px solid black;
  padding: 10px;
  background-color: #e9f7ff;
}

p {
  margin: 0;
}

em {
  opacity: 0.5;
  font-weight: normal;
}

.example-grid_header-cell.side {
  border-right: 2px solid black;
}

/* .example-grid_cell {} */
